# Pandas

### Basic

In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.Series(["A", "B", "C"])

0    A
1    B
2    C
dtype: object

In [3]:
name = pd.Series(["A", "B", "C", "D", "E"])
num = pd.Series([12, 34, 56, 78, 90])

data = pd.DataFrame({"Name":name, "Num":num})   ### 이런식으로 data frame을 만든다.

In [4]:
data

  Name  Num
0    A   12
1    B   34
2    C   56
3    D   78
4    E   90

In [5]:
print(data["Name"])

0    A
1    B
2    C
3    D
4    E
Name: Name, dtype: object

In [6]:
print(type(data['Name']))
print(data['Name'])   ### 열 추출

print(type(data['Name'][1]))
print(data['Name'][1]) ### 원소 추출

<class 'pandas.core.series.Series'>
0    A
1    B
2    C
3    D
4    E
Name: Name, dtype: object
<class 'str'>
B

In [7]:
print(data[0:2])   ### 이렇게 범위를 줄 수도 있음

  Name  Num
0    A   12
1    B   34

In [8]:
data['A']=pd.Series([1, 2, 3, 4, 5])   ### 열 추가

In [9]:
data

  Name  Num  A
0    A   12  1
1    B   34  2
2    C   56  3
3    D   78  4
4    E   90  5

### Loading CSV file

In [10]:
iris = pd.read_csv("iris.csv")   ### 불러오기

In [11]:
iris.head()   ### 앞 5행만 추출

   sepal_length  sepal_width  petal_length  petal_width  target_name
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [12]:
iris[:5]   ### 이런식으로 해줄수도 있음

   sepal_length  sepal_width  petal_length  petal_width  target_name
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [14]:
### targer_name 열에서 Iris-setosa는 0으로 , Iris-versicolor는 1 , Iris-virginica2는 2로 바꾸어 보자!


for i in range(np.shape(iris)[0]):
    if iris['target_name'][i] == "Iris-setosa":
        iris['target_name'][i] = 0
    elif iris['target_name'][i] == "Iris-versicolor":
        iris['target_name'][i] = 1
    elif iris['target_name'][i] == "Iris-versicolor2":
        iris['target_name'][i] = 2

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

#### 재미있는 사실!!
#### 위에 저런 메세지가 떠서 당활할 수가 있지만, 사실 저건 에러 메세지가 아니다. 결과값을 확인해 봐도 문제 없이 제대로 나온걸 볼 수 있다.
#### 그럼에도 저런 메세지 나오는 이유는 코드를 실행한 결과가 원하는 대로 나오지 않을수도 있다는 일종의 경고를 해주기 위해서이다.
#### 위 링크에서는 데이터의 행과 열을 아래의 표기로 바꾸라고 권장하고 있다.
#### 아래 주어진 코드 역시 문제없이 실행되지만 대신 경고창은 뜨지 않는 것을 확인할 수 있다. (위의 코드와 차이점을 비교해 보자!)

In [ ]:
for i in range(np.shape(iris)[0]):
    if iris.loc[i,"target_name"] == "Iris-setosa":
        iris.loc[i,"target_name"] = 0
    elif iris.loc[i,"target_name"] == "Iris-versicolor":
        iris.loc[i,"target_name"] = 1
    elif iris.loc[i,"target_name"] == "Iris-versicolor2":
        iris.loc[i,"target_name"] = 2

In [15]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width target_name
0           5.1          3.5           1.4          0.2           0
1           4.9          3.0           1.4          0.2           0
2           4.7          3.2           1.3          0.2           0
3           4.6          3.1           1.5          0.2           0
4           5.0          3.6           1.4          0.2           0